/*......................................................................................*/
/*...................................Pagena Autor.......................................*/
/*......................................................................................*/
.menu{
	left: 12px;
	top: 21px;
	position: absolute;
}
.menu p{
	width: 30px;
	height: 4px;
	background-color: #009ee1;
	margin-bottom: 3px;
	line-height: 60px; 
}
.ajuda{
	color: #009ee1;
	right: 15px;
	top: 23px;
	position: absolute;
	font-size: 1em;
	border-width: 2px;
	border-color: #009ee1;
}
.ajuda a {
	text-decoration: none;
}
header h1{
	color: #fff;
	height: 60px;
	background-color: #000;
	line-height: 60px;
	text-align: center;
	font-size: 1.5em;
	color: #fff;

}
.banner{
	height: 300px;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 35%;
	margin-top: 1px;
	margin-top-color:red;
}
.banner p{
	height: 300px;
	line-height: 300px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-size: 1.5em;
	color: #009ee1; /*118db1;*/
	
}




.perfil{
	position: relative;
}
.skill{
	position: relative;
}
.titulo{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	position: relative;
	padding-left: 40px;
	background-color: #009ee1;
	color: #000;
	margin-top: 3px;
	font-weight: bold;
	
}
.texto_titulo{
	position: absolute;
	top: 0;
	left: 34px;
	color: #000;
	font-weight: bold;

}
.perfil img{
	position: absolute;
	top: 4px;
	left: 3px;
	width: 26px;
	height: 26px;
}
.skill img{
	position: absolute;
	top: 4px;
	left: 0;
	width: 30px;
	height: 30px;
}

.perfil .p2{
	margin: 5px;
	text-align: justify;
}
.skill ol li{
	margin: 2px;
	color: #777;
}



footer{
	position: fixed;
	top: 95%;
	width:  100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	background-color: #063f57;/*0c7fb0;*/
	color: #fff;
	margin-top: 5px;
}
